<main>
    <div class="mb-4 pb-4"></div>
    <section class="lookbook container">
        <h2 class="page-title">LOOKBOOK</h2>
    </section>
    <section class="lookbook-collection">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column">
                    <a href="/Home/Shop" class="lookbook-collection__item position-relative flex-grow-1 mb-4 effect border-plus">
                        <div class="lookbook-collection__item-image">
                            <img loading="lazy" src="../images/lookbook/lookbook-1.jpg" width="690" height="399" alt="">
                        </div>
                        <div class="content_abs content_bottom content_left content_bottom-md content_left-md">
                            <p class="text-uppercase mb-1 white-color">STARTING AT $19</p>
                            <h3 class="white-color">Women’s T-Shirts</h3>
                        </div><!-- /.content_abs content_bottom content_left content_bottom-md content_left-md -->
                    </a>
                    <a href=" /Home/Shop" class="lookbook-collection__item position-relative flex-grow-1 mt-1 mb-4 effect border-plus">
                        <div class="lookbook-collection__item-image">
                            <img loading="lazy" src="../images/lookbook/lookbook-2.jpg" width="690" height="399" alt="">
                        </div>
                        <div class="content_abs content_bottom content_left content_bottom-md content_left-md">
                            <p class="text-uppercase mb-1">STARTING AT $21</p>
                            <h3>Slim Fit Cotton Shorts</h3>
                        </div><!-- /.content_abs content_bottom content_left content_bottom-md content_left-md -->
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="/Home/Shop" class="lookbook-collection__item size-lg position-relative mb-4 effect border-plus">
                        <div class="lookbook-collection__item-image">
                            <img loading="lazy" src="../images/lookbook/lookbook-3.jpg" width="690" height="826" alt="">
                        </div>
                        <div class="content_abs content_bottom content_left content_bottom-md content_left-md">
                            <p class="text-uppercase mb-1">STARTİNG AT $39</p>
                            <h3>Men’s Sportswear</h3>
                        </div><!-- /.content_abs content_bottom content_left content_bottom-md content_left-md -->
                    </a>
                </div><!-- /.col-md-6 -->
                <div class="col-lg-6">
                    <a href="/Home/Shop" class="lookbook-collection__item size-lg position-relative mt-1 mb-4 effect border-plus">
                        <div class="lookbook-collection__item-image">
                            <img loading="lazy" src="../images/lookbook/lookbook-4.jpg" width="690" height="826" alt="">
                        </div>
                        <div class="content_abs content_bottom content_left content_bottom-md content_left-md">
                            <p class="text-uppercase mb-1">STARTİNG AT $39</p>
                            <h3>Knee-length Cotton Shorts</h3>
                        </div><!-- /.content_abs content_bottom content_left content_bottom-md content_left-md -->
                    </a>
                </div><!-- /.col-md-6 -->
                <div class="col-lg-6 d-flex flex-column">
                    <a href="/Home/Shop" class="lookbook-collection__item position-relative flex-grow-1 mt-1 mb-4 effect border-plus">
                        <div class="lookbook-collection__item-image">
                            <img loading="lazy" src="../images/lookbook/lookbook-5.jpg" width="690" height="399" alt="">
                        </div>
                        <div class="content_abs content_bottom content_left content_bottom-md content_left-md">
                            <p class="text-uppercase mb-1">STARTING AT $19</p>
                            <h3>Canvas Trainers</h3>
                        </div><!-- /.content_abs content_bottom content_left content_bottom-md content_left-md -->
                    </a>
                    <a href="/Home/Shop" class="lookbook-collection__item position-relative flex-grow-1 mt-1 mb-4 effect border-plus">
                        <div class="lookbook-collection__item-image">
                            <img loading="lazy" src="../images/lookbook/lookbook-6.jpg" width="690" height="399" alt="">
                        </div>
                        <div class="content_abs content_bottom content_left content_bottom-md content_left-md">
                            <p class="text-uppercase mb-1">STARTING AT $21</p>
                            <h3>Slim Fit Cotton Shorts</h3>
                        </div><!-- /.content_abs content_bottom content_left content_bottom-md content_left-md -->
                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
</main>

<div class="mb-5 pb-xl-5"></div>
