<main>
    <div class="mb-4 pb-4"></div>
    <section class="shop-checkout container">
        <div class="order-tracking">
            <form name="tracking-form" class="needs-validation" novalidate>
                <h2 class="page-title">Order Tracking</h2>
                <p>To track your order please enter your Order ID in the box below and press the "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                <div class="form-floating my-4">
                    <input type="text" class="form-control" id="order_tracking_id" placeholder="Order ID *" required>
                    <label for="order_tracking_id">Order ID *</label>
                </div>
                <div class="form-floating my-4">
                    <input type="email" class="form-control" id="order_tracking_email" placeholder="Billing email *" required>
                    <label for="order_tracking_email">Billing email *</label>
                </div>
                <button type="submit" class="btn btn-primary btn-track w-100">TRACK</button>
            </form>
        </div>
    </section>
</main>

<div class="mb-5 pb-xl-5"></div>
