@model List<WishList>

<main>
    <div class="mb-4 pb-4"></div>
    <section class="my-account container">
        <h2 class="page-title">Wishlist</h2>
        <div class="row">
            <div class="col-lg-3">
                <ul class="account-nav">
                    <li><a href="/User/account_edit/@User.FindFirst(System.Security.Claims.ClaimTypes.Sid).Value" class="menu-link menu-link_us-s ">Account Details</a></li>
                    <li><a href="/User/account_orders/@User.FindFirst(System.Security.Claims.ClaimTypes.Sid).Value" class="menu-link menu-link_us-s">Orders</a></li>
                    <li><a href="/User/account_edit_address/@User.FindFirst(System.Security.Claims.ClaimTypes.Sid).Value" class="menu-link menu-link_us-s">Addresses</a></li>
                    <li><a href="/User/account_wishlist" class="menu-link menu-link_us-s  menu-link_active">Wishlist</a></li>
                    <li><a href="/User/LogOut" class="menu-link menu-link_us-s">Logout</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="page-content my-account__wishlist">
                    <div class="products-grid row row-cols-2 row-cols-lg-3" id="products-grid">
                        @foreach (var item in Model)
                        {
                            <div class="product-card-wrapper">
                                <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                                    <div class="pc__img-wrapper">
                                        <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img loading="lazy" src="../images/products/@item.WishProduct.Photos.ToList()[0].PhotoUrl" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                                                </div><!-- /.pc__img-wrapper -->
                                                <div class="swiper-slide">
                                                    <img loading="lazy" src="../images/products/@item.WishProduct.Photos.ToList()[1].PhotoUrl" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                                                </div><!-- /.pc__img-wrapper -->
                                            </div>
                                            <span class="pc__img-prev"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg></span>
                                            <span class="pc__img-next"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg></span>
                                        </div>
                                        <a href="/User/remove_wishlist/@item.WishProductId" class="btn-remove-from-wishlist">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_close" /></svg>
                                        </a>
                                    </div>

                                    <div class="pc__info position-relative">
                                        <p class="pc__category">@item.WishProduct.ProductCategory.CategoryName</p>
                                        <h6 class="pc__title">@item.WishProduct.ProductName</h6>
                                        <div class="product-card__price d-flex">
                                            <span class="money price">$@item.WishProduct.ProductPrice</span>
                                        </div>

                                        <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                                            <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                                <!-- /.products-grid row -->
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <div class="mb-5 pb-xl-5"></div>


@* 

<script>

    document.addEventListener('DOMContentLoaded', () => {
        const productsSection = document.querySelector('#products-grid');

        function checkProducts() {
            const productDivs = productsSection.querySelectorAll('.product-card-wrapper');

            if (productDivs.length === 0) {
                let emptyMessage = document.getElementById('empty-message');
                if (!emptyMessage) {
                    emptyMessage = document.createElement('h1');
                    emptyMessage.id = 'empty-message';
                    emptyMessage.textContent = 'There is empty';
                    productsSection.appendChild(emptyMessage);
                }
            } else {
                const emptyMessage = document.getElementById('empty-message');
                if (emptyMessage) {
                    productsSection.removeChild(emptyMessage);

                }
            }
        }

        checkProducts();

    });

</script> *@