<div class="containerr">
    <a href="/User/SignUp" class="left">
        <div class="elanlarim">
            <i class="fa-solid fa-scroll"></i>
            <h3>Personal account</h3>

        </div>
    </a>
    <a href="/User/business_register" class="right">
        <div class="profil">
            <i class="fa-solid fa-id-card-clip"></i>
            <h3>Business account</h3>

        </div>
    </a>
</div>