<main>
    <div class="mb-4 pb-4"></div>
    <section class="login-register container">
        <h2 class="d-none">Login & Register</h2>
        <ul class="nav nav-tabs mb-5" id="login_register" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link nav-link_underscore active" id="login-tab" data-bs-toggle="tab" href="#tab-item-login" role="tab" aria-controls="tab-item-login" aria-selected="true">Register</a>
            </li>

        </ul>
        <div class="tab-content pt-2" id="login_register_tab_content">
            <div class="tab-pane fade show active" id="tab-item-login" role="tabpanel" aria-labelledby="login-tab">
                <div class="login-form">
                    <form action="/User/SignUp" method="post" class="needs-validation" novalidate>
                        <div class="form-floating mb-3">
                            <input name="UserName" type="text" class="form-control form-control_gray" id="customerNameEmailInput1" placeholder="First Name *" required>
                            <label for="customerNameEmailInput1">First Name *</label>
                        </div>

                        <div class="pb-3"></div>
                        <div class="form-floating mb-3">
                            <input name="UserSurname" type="text" class="form-control form-control_gray" id="customerNameEmailInput1" placeholder="Last Name *" required>
                            <label for="customerNameEmailInput1">Last Name *</label>
                        </div>

                        <div class="pb-3"></div>
                        <div class="form-floating mb-3">
                            <input name="UserEmail" type="text" class="form-control form-control_gray" id="customerNameEmailInput1" placeholder="Email *" required>
                            <label for="customerNameEmailInput1">Email *</label>
                        </div>

                        <div class="pb-3"></div>
                        <div class="form-floating mb-3">
                            <input name="UserNickName" type="text" class="form-control form-control_gray" id="customerNameEmailInput1" placeholder="Nick Name *" required>
                            <label for="customerNameEmailInput1">Nick Name *</label>
                        </div>

                        <div class="pb-3"></div>

                        <div class="form-floating mb-3">
                            <input name="UserPassword" type="password" class="form-control form-control_gray" id="customerPasswodInput" placeholder="Password *" required>
                            <label for="customerPasswodInput">Password *</label>
                        </div>
                        <div class="pb-3"></div>

                        <select class="custom-select" name="UserGender">
                            <option value="Men">Man</option>
                            <option value="Women">Woman</option>
                        </select>
                        <div class="pb-3"></div>

                        <select class="custom-select" name="UserCountryId">
                            @foreach(var item in ViewBag.Countries){
                                <option value="@item.CountryId">@item.CountryName</option>
                            }
                        </select>
                       
                        <div class="pb-3"></div>

                     <div class="col-md-12">
                            <div class="form-floating my-3">
                                <input name="UserCity" type="text" class="form-control" id="checkout_city" placeholder="Town / City *" >
                                <label for="checkout_city">Town / City *</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-floating mt-3 mb-3">
                                <input name="UserStreetAdress" type="text" class="form-control" id="checkout_street_address" placeholder="Street Address *" >
                                <label for="checkout_company_name">Street Address *</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating my-3">
                                <input name="UserPostCode" type="text" class="form-control" id="checkout_zipcode" placeholder="Postcode / ZIP *" >
                                <label for="checkout_zipcode">Postcode / ZIP *</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-floating my-3">
                                <input name="UserPhone" type="text" class="form-control" id="checkout_phone" placeholder="Phone *" >
                                <label for="checkout_phone">Phone *</label>
                            </div>
                        </div>
                      



                        <div class="pb-3"></div>
                        <div class="pb-3"></div>

                        <button class="btn btn-primary w-100 text-uppercase" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<div class="mb-5 pb-xl-5"></div>